<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>

	<servlet>
		<servlet-name>EmployeeDelegateServlet</servlet-name>
		<servlet-class>com.revature.controller.EmployeeDelegateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserUpdateServlet</servlet-name>
		<servlet-class>com.revature.controller.UserUpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ManagerDelegateServlet</servlet-name>
		<servlet-class>com.revature.controller.ManagerDelegateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FrontController</servlet-name>
		<servlet-class>com.revature.controller.FrontController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.revature.controller.Logout</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>getInfoFromDbServlet</servlet-name>
		<servlet-class>com.revature.controller.getInfoFromDbServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetRmbFromDbServlet</servlet-name>
		<servlet-class>com.revature.controller.GetRmbFromDbServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetSingleUser</servlet-name>
		<servlet-class>com.revature.controller.GetSingleUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetReimbursementServlet</servlet-name>
		<servlet-class>com.revature.controller.GetReimbursementServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SubmitReimbursementServlet</servlet-name>
		<servlet-class>com.revature.controller.SubmitReimbursementServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetPendingReimbursements</servlet-name>
		<servlet-class>com.revature.controller.GetPendingReimbursements</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetOneReimbursement</servlet-name>
		<servlet-class>com.revature.controller.GetOneReimbursement</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateEmployee</servlet-name>
		<servlet-class>com.revature.controller.CreateEmployee</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/FrontController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeDelegateServlet</servlet-name>
		<url-pattern>/employeeDelegateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ManagerDelegateServlet</servlet-name>
		<url-pattern>/ManagerDelegateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getInfoFromDbServlet</servlet-name>
		<url-pattern>/getInfoFromDbServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetRmbFromDbServlet</servlet-name>
		<url-pattern>/GetRmbFromDbServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetSingleUser</servlet-name>
		<url-pattern>/GetSingleUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetReimbursementServlet</servlet-name>
		<url-pattern>/GetReimbursementServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SubmitReimbursementServlet</servlet-name>
		<url-pattern>/SubmitReimbursementServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserUpdateServlet</servlet-name>
		<url-pattern>/UserUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetPendingReimbursements</servlet-name>
		<url-pattern>/GetPendingReimbursements</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetOneReimbursement</servlet-name>
		<url-pattern>/GetOneReimbursement</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateEmployee</servlet-name>
		<url-pattern>/CreateEmployee</url-pattern>
	</servlet-mapping>
</web-app>
